.mainchat  {
    background-color: rgba(22,27,33,255);
    overflow: hidden;
    height: 100vh;
    color: white;
}

.mainchat .lst{
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    padding: 0px 10px 5px 37px;
    border-right: 1px solid #464b50;
}
.mainchat .lst h1{
    text-align: initial;
    font-size: 28px;
    font-weight: bold;
}
.mainchat .lst .cont{
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    background-color: transparent;
    padding: 0px;

}
.mainchat .lst .continfo{
    display: flex;
}
 .mainchat .lst .continfo img{
    height: 40px;
    width: 40px;
    border-radius: 50%
}
.mainchat .lst .continfo span{
    display: block;
    text-align: initial;
    margin: 0px !important;
}
.mainchat .lst .continfo span:first-child{
   color: #fff;
}
.mainchat .lst .continfo span:first-child{
    color: #ddd;
 }
@media only screen and (max-width: 800px){
    
 .mainchat .lst{
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    padding: 10px;
}

}
 
@media only screen and (max-width: 800px) {
     .mainchat .lst {
        width: 100%;
        text-align: center;
        color: white;
        padding: 15px;
        display: none;
        opacity: 0;
        transition:all 0.7s ease;
    }
    .dots{
        position: absolute;
        top:107px !important;
        right: 7px;
        display: block !important;
        color: #fff !important;
        border: none;
    }
     .mainchat .lst.open{
        width: 100% !important;
        height: 100% !important;
        display: block !important;
        opacity: 1;
        transition: all 0.7s ease;
        padding-top: 10px;
    }
    .openhome{
        display: none !important;
        transition: all 0.7s ease;
        opacity: 0 !important;
    
    
     }
}

@media  (min-width:801px )and (max-width: 992px) {
    .dots{
        position: absolute;
        left:15px !important;
      
        display: block !important;
        color: #fff !important;
        border: none;
        bottom: 113px;
    }
     .mainchat .lst.open{
        width: 100% !important;
        height: 100% !important;
        display: block !important;
        opacity: 1;
        transition: all 0.7s ease;
    }
     .mainchat .lst {
        width: 100%;
        text-align: center;
        color: white;
        padding: 15px;
        display: none;
        opacity: 0;
        transition:all 0.7s ease;
    }
    .openhome{
        display: none !important;
        transition: all 0.7s ease;
        opacity: 0 !important;
    
    
     }
}



.mainchat  h2{
    color: white;
    padding: 20px;
    font-weight: bold;
}
.mainchat .contacts{
    background-color: #191f26;
    width: 30%;
    height: 617px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    border-radius: 15px;
}

.mainchat .chatarea{
    flex: 1;
    text-align: center;
    height: 100%;
    display: block;
  justify-content: center;
  align-content: center;
  margin-top: 41px;
}
.mainchat .chatarea p{
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 1.3;
}
/* .mainchat .chatarea img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
} */
.nummsg{
    background-color: #ec5844;
    padding: 3px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}
.nummsg span {
    color: white;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
i{
    cursor: pointer;
}
.mainchat   .main-side{
    width: 100% ;
    height:auto;
}
.mainchat   .main-side ul{
    list-style: none;
}

.mainchat   .main-side .vi{
    display: flex;
    background-color: rgba(22,27,33,255)
    ;
}
.mainchat   .main-side .vi .vid-stream {
    display: flex;
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
    background-color: #191f26;
    margin-left: 39.5px;
}
.mainchat .chatarea .sendd {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}
.mainchat .chatarea .sendd .inputmessage {
    position: relative;
    width: 90%;
}
.mainchat .chatarea .sendd .inputmessage input {
    background-color: #21222c;
    border: none !important;
    color: white;
}

.mainchat .chatarea .sendd .inputmessage input::placeholder{
  color: #88888e;
}
.mainchat .chatarea .sendd .inputmessage i {
    position: absolute;
    font-size: 21px;
    bottom: 22px;
    right: 10px;
    color: #909095;
}
.mainchat .chatarea .sendd .ar {
    /* flex: 1 1; */
    text-align: center;
    /* margin: auto 0px; */
    background-color: #8774e1;
    border-radius: 50%;
    position: relative;
    width: 37px;
    height: 37px;
    margin: auto;
    cursor: pointer;
}
.mainchat .chatarea .sendd .ar img {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
@media only screen and (max-width: 800px) {
    .mainchat  {
        height: 100% !important;
    }
    .mainchat  .contacts{
        width: 100% !important;
    }
}
