.home{
    background-color: rgba(22,27,33,255);
    overflow: hidden;
    height: 100vh;
}
i{
    cursor: pointer;
}
.home .main-side{
    width: 100% ;
    height:auto;
}
.navbar{
    background-color: rgba(24,31,39,255);
    padding: 0 !important;
    margin: 0 !important;
}
.home .main-side ul{
    list-style: none;
}

.home .main-side ul li{
    display:inline-block;
        margin: 25px 3px
}

/* .home .main-side .navbar .grid-show {
    padding: 22px 0px;
} */
.home .main-side .vi{
    display: flex;
    background-color: rgba(22,27,33,255)
    ;
}
.home .main-side .vi .caption{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    
}

.home .main-side .vi .icon-opts ul i{
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.home .main-side .vi .vid-stream {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px 0px 0px 0px;
    margin-top: 15px;
   height: 100vh;
    background-color: #181f27;
    margin-left: 37px;
}
.home .main-side .vi .vid-stream .prof{
    padding: 15px;
    position: relative;
    opacity: 1;
    display: block;
}

 .dots{
     display: none !important;
 }
.home .main-side .vi .vid-stream .prof h3{
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    width: fit-content;
    margin-bottom: 15px;
}
.home .main-side .vi .vid-stream .prof .pic{
    width: 100%;
    border: 2px solid #531863;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}
.home .main-side .vi .vid-stream .prof .pic img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.history{
    display: flex;
    flex-wrap: wrap;
}
.act{
    border-bottom: 1px solid #fff !important;
}
@media only screen and (max-width: 800px) {
    .history{
        display: block;
    }
    .home{
  
        height: 100% !important;
    }
    .home .main-side .navbar .logo{
        width:fit-content;
        font-size: 15px !important;
    }
    .home .main-side .navbar .title{
        width: 100%;
        display: flex;
    }
    .home .navbar input{
      width: 83%;
    }
    .home .navbar .fa-phone-alt{
        font-size: 23px;
        background-color: rgb(40, 57, 207);
        color: #f8fff3;
        padding: 7px;
        border-radius: 6px;
        height: fit-content;
        margin: 15px 5px !important;
    }
    
    .home .navbar .fa-video{
        font-size: 23px;
        background-color: red;
        padding: 7px;
        border-radius: 6px;
        color: #f8fff3;
        height: fit-content;
        margin: 15px 5px !important;
    }
    .home .main-side .vi .vid-stream {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 15px;
        background-color: #1f232c;
        margin: 61px 15px 15px 15px !important;  
        height: 100%;
      }
    .home .main-side .vi .vid-stream .dailymeeting {
        margin-bottom: 10px;
    }
    .dots{
        position: absolute;
        top:107px !important;
        right: 7px;
        display: block !important;
        color: #fff !important;
        border: none;
    }
    .openhome{
        display: none !important;
        transition: all 0.7s ease;
        opacity: 0 !important;
    
    
}
}
@media  (min-width:801px )and (max-width: 992px) {
    .dots{
        position: absolute;
        left:15px !important;
      
        display: block !important;
        color: #fff !important;
        border: none;
        bottom: 113px;
    }
    .openhome{
        display: none !important;
        transition: all 0.7s ease;
        opacity: 0 !important;
    
    
     }
}
